<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<a href="{{ url_for('logout') }}">Logout</a>


<h1>Welcome to the jeera ticketing system</h1>
<form action="/create_ticket" method="POST">
  <input type="text" name="title" placeholder="Ticket Title">
  <textarea name="description"></textarea>
  <input type="submit" name="submit" value="create ticket">
</form>

<div class="kanban-board">
    <div class="column">
        <h3>Open Tickets</h3>
        {% for ticket in tickets %}
            <div class="ticket">
                <h4>{{ ticket.title }}</h4>
                <p>{{ ticket.description }}</p>
                <p>{{ ticket.status }}</p>
                <a href="/update_status/{{ ticket.id }}/In Progress">Mark as In Progress</a>
                <a href="/update_record/{{ ticket.id }}" >Update</a>
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>